<div class="text-center page-header">
  <h1>Who We Are</h1>
</div>

<div class="row">
  <div class="container">
    <p>
      We provide Virtual CTOs that specialize in creating both back-end and front-end applications that scale. Our team has worked on a wide range of enterprise applications. It is our mission to bring that expertise to companies looking to expand. Whether you are looking to go from 1K customer to 1M, or get your technology to a state where your company can be funded we can help.
    </p>

    <p>
      We take a modular approach to development that ensures maximum flexibility for our clients. We implement a service oriented architecture in order to achieve this. By breaking large applications into smaller pieces it allows for faster development and better use of distributed teams.
    </p>

    <p>
      In addition to building your application our Virtual CTOs will partner with your leadership in order to help guide them in building a successful digital strategy. We will implement the best practices across your organization. We do this by using proven agile project management, and architecting maintainable code.
    </p>

  </div>
</div>

<div class="text-center page-header">
  <h1>What We Do</h1>
</div>

<div class="row">
  <div class="container">

    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Front End</h1>

        <p>We work with the best designers and front-end engineers in order to create brilliant user experiences. Truly beatiful design lives at the intersection of beaty and functionality. This is why our engineers and designers work together so closely.</p>

        <p>Our sites utilize responsive mobile first devlopment and design. In order to achive this we use the newest frameworks e.g. <code>Angular.js</code>, <code>Backbone.js</code>, <code>Bootstrap</code> etc.</p>

        <p>Front end no longer just means the browser which is why our team also works in iOS and Android applications. More and more companies are enganing with their customers through native apps, and we can help you expand into that market.</p>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Back End</h1>

        <p>As technology becomes a larger part of our lives, the applications we create become more complex to support the need. Luckily by creating a modular architecture using modern frameworks managing these applications doesn't have to be.</p>

        <p>We implement a service oriented architecture in order to separate your data layer from your presentation layer. Creating a normalized API allows you to publish once and consume everywhere. No longer will your iOS application and your web application need separate interfaces. This allows your to separately scale your infrastructure intelligently.</p>

        <p>We do all of this by utilizing a combination of technologies based on your projects needs. A single application may use <code>python</code> for the API layer, <code>Node.js</code> for the middle tier, and iOS for the presentation layer. This flexibility allows you to take advantage of the strengths of each of these technologies without having to suffer their weakness' throughout your entire stack.</p>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Virtual CTO</h1>

        <p>Beyond coding we our expertise can help you better manage the development process. We strongly believe that software development should not be putting out fires. Instead with proper planning and managing of expectations development teams can move as a well oiled machine. </p>

        <p>Using agile software development practices we create a delivery focused development process that empowers the team. By setting clear priorities and deliverables in smaller chunks it becomes easier to track projects and deal with the bumps along the road.</p>

      </div>
    </div>

  </div>
</div>
