<div class="text-center page-header">
  <h1>Who We Are</h1>
</div>

<div class="row">
  <div class="container">
    <p>
      Our team provides virtual CTOs that specialize in creating both back-end and front-end applications that scale. Our team has worked on a wide range of enterprise applications. It is our mission to bring that expertise to companies looking to expand. Whether you are looking to go from one thousand customers to one million, or get your technology to a state where your company can be funded, Minerva can help.
    </p>

    <p>
      We take a modular approach to development that ensures maximum flexibility for our clients. By breaking large applications into smaller pieces, it allows for faster development and better use of distributed teams. This is accomplished by implementing a service-oriented architecture in order to achieve this.
    </p>

    <p>
      In addition to building your application, our virtual CTOs will partner with your leadership in order to help guide them in building a successful digital strategy. This is done by using proven agile project management and architecting maintainable code. We implement the best practices across your organization.
    </p>

  </div>
</div>

<div class="text-center page-header">
  <h1>What We Do</h1>
</div>

<div class="row">
  <div class="container">

    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Front End</h1>

        <p>Minerva works with the best designers and front-end engineers in order to create brilliant user experiences. Truly beautiful design lives at the intersection of beauty and functionality. This is why our engineers and designers work together so closely.</p>

        <p>Our sites utilize responsive, mobile-first development and design. This is achieved using cutting edge frameworks, e.g. <code>Angular.js</code>, <code>Backbone.js</code>, <code>Bootstrap</code> etc.</p>

        <p>Front end no longer just means the browser, which is why our team also works in iOS and Android applications. More and more companies are engaging with their customers through native apps, and Minerva can help you expand into that market.</p>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Back End</h1>

        <p>As technology becomes a larger part of our lives, the applications we create are more becoming complex to meet the demand. However, by utilizing a modular architecture and modern frameworks these large applications become manageable.</p>

        <p>A service-oriented architecture allows for the separation of the data and presentation layer. Creating a normalized API allows you to publish once and consume everywhere. No longer will your iOS application and your web application need separate interfaces. This allows you to separately scale your infrastructure intelligently.</p>

        <p>This is done by utilizing a combination of technologies based on your project’s needs. A single application may use <code>python</code> for the API layer, <code>Node.js</code> for the middle tier, and iOS for the presentation layer. This flexibility allows you to take advantage of the strengths of each of these technologies, without having to suffer their weaknesses throughout your entire stack.</p>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">

        <h1>Virtual CTO</h1>

        <p>Beyond coding, our expertise can help you better manage the development process. We strongly believe that software development should not be putting out fires. Our team uses agile software development practices to create a delivery-focused process that empowers the developers. By setting clear priorities and deliverables in smaller chunks, it becomes easier to track projects and deal with the bumps along the road.</p>

      </div>
    </div>

  </div>
</div>
